@import '_import';

.container-sm {
  max-width: 800px;
}

.divider-lg { padding: 10px; }
.divider { padding: 5px; }
.divider-sm { padding: 3px; }

.pre {
  white-space: pre-wrap;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

a.block {
  display: block;
}

.row-condensed {
  padding: 0 10px;

  &>div {
    padding: 0 5px;
  }
}

@mixin ribbon($color) {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 10px;
  background-color: $color;
  color: #fff;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 10px;
    height: 10px;
    border: 5px solid darken($color, 10%);
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -25px;
    height: 10px;
    border: 25px solid lighten($color, 0%);
    border-right: 0px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

.board {
  padding: 20px;
  border: 1px solid darken($color-base, 5%);
  outline: 3px solid rgba($color-base, .5);
}

@mixin color-line($width, $color) {
  position: relative;
  border-bottom: $width solid $color-base;

  &:before {
    position: absolute;
    bottom: -$width;
    width: 30%;
    content: '';
    display: block;
    border-bottom: $width solid $color;
  }
}

.ghost {
  border: 1px solid $color-main;
  padding: 1px 5px;
  border-radius: $radius;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-main;
    color: #fff;
  }
}
