@import '_import';

html {
  font-size: 14px;
}

body {
  font-size: inherit;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  color: lighten(#333, 10%);
  border-top: 5px solid $color-main;
  border-bottom: 10px solid $color-main;
}

a {
  color: $color-main;
  transition-duration: .2s;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: $color-accent;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.45rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

hr {
    margin: 0;
}
