$font-stack: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$font-stack-accent: mplus-1p-regular;

$font-sm: .8rem;
$font-lg: 1.2rem;

$color-accent: #2980b9;
$color-main: #2980b9;
$color-base: #eee;

$lay-dark: rgba(0, 0, 0, .5);
